{% extends 'home.html.twig' %}
{% block container %}
    <article class="article">
        {% block article %}
            {% for key, link in articles.links %}
                <h2 class="rellax-title article-title">
                    <a href="{{ link|lower }}">{{ articles.titles[key] }}</a>
                </h2>
                <img src="assets/local/images/sample.jpg">
                {% autoescape 'html' %}
                <p class="article-meta">Written by {{ articles.metas[key] }}</p>
                <p class="">{{ articles.previews[key] }} ...</p>
                {% endautoescape %}
                <div class="row">
                    <button>Read More</button>
                    <button>{{ x }} Comments</button>
                </div>
            {% endfor %}
        {% endblock %}
    </article>
{% endblock %}
